$themes: red, green;

@each $theme in $themes {
  #{$theme}-theme {
    background-color: $theme;
    color: white;
  }
}

$socials: (
  'facebook': blue,
  'youtube': red,
);
@each $name, $color in $socials {
  .#{$name} {
    background-color: $color;
    &::before {
      content: $name;
    }
  }
}
